@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@500&family=Sofia+Sans:wght@500&display=swap');


/* CSS VARIABLES */

:root {
    --lightblue-color: #0e85ca;
    --blue-color : #0066da;
    --red-color: #e71603;
    --green-color: #05b554;
    --light-green-color: #55c57a;
    --body-color: #eee;
    --white-color: #fff;
    --grey-dark-color: #333;
}


* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box
}


html {
    font-size: 62.5%; /* 10px*/;
    background-color: var(--body-color);
    
} 

body {
   font-family: Roboto, 'sans-serif';
   font-weight: 500;
   line-height: 1.7rem;
}

/* HEADER AND SECTION CONTAINER */

.container {    
    width: 60%;
    margin: 0 auto;
    text-align:center;
}


/*------------*/
/*   HEADER   */
/*------------*/

.header {
    padding-top: 5rem;
}

.input-text {
    width: 89.6%;
    color: var(--grey-dark-color);
    border:none;
}

.input-text:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid var(--light-green-color);
}

.input-text:focus:invalid {
    border-bottom: 3px solid var(--red-color);
}

.blue-btn {
    width: 10%;
    background-color: var(--blue-color);
    color: var(--white-color);
    cursor: pointer;
    border: transparent;
}

.blue-btn:hover,
.blue-btn:visited {
    background-color: var(--lightblue-color);
}

.blue-btn:link,
.blue-btn:active {
    background-color: var(--blue-color);
}


.input-text,
.blue-btn {
    padding: 1.5rem;
    border-radius: 4px;
    font-size: 1.7rem;
    letter-spacing: 2px;
    font-family: inherit;
   
}



/*------------*/
/*  SECTION   */
/*------------*/

