/* CSS VARIABLES */

:root {
    --blue-color : #3483eb;
    --red-color: #ab1609;
    --green-color: #05b554;
    --body-color: #eee;
}


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box
}


html {
    font-size: 62.5%; /* 10px*/;
    background-color: var(--body-color);
    
} 

body {
    max-width: 80%;
    text-align: center;
}
